

@font-face {
  font-family: 'IranSanse';
  src: url("../../assets/font/IRANSansWeb\(FaNum\)/IRANSansWeb(FaNum).ttf");
  font-weight: normal;
}


html, body {
  background: #eee;
  /* font-family: 'IranSanse'; */
}

.dashboard {
  background-color: #f777;
  -webkit-box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 25px auto;
  padding: 50px 30px;
}

.dashboard .sidebar {
  border-right: 1px solid #eee;
}

/*# sourceMappingURL=styles.css.map */